label {
    width: 100%;
    text-align: center;
}
input[type="text"] {
    width: 100%;
    text-align: center;
}

input[type="number"].form-control {
    width: 100%;
    text-align: center;
    appearance: textfield;
    -moz-appearance: textfield; 
} 


input[type="number"].form-control::-webkit-outer-spin-button,
input[type="number"].form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 
strong {
    font-size: 1.5em;
    color: red;
}